<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDwm6zHjr2y3l3JjslGf0_DQ1OJgovcr-o</string>
	<key>GCM_SENDER_ID</key>
	<string>170961732462</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jungwuk.allclearer</string>
	<key>PROJECT_ID</key>
	<string>allclearer</string>
	<key>STORAGE_BUCKET</key>
	<string>allclearer.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:170961732462:ios:79999e4761e4629e77777f</string>
</dict>
</plist>